# -*- coding: utf-8 -*-
# vim: ft=yaml ts=2 sts=2 sw=2 et

### Zoomdata provisioning configuration example
#
zoomdata:
  ## Package installation settings
  #
  # Repository base URL where Zoomdata packages are hosted
  # This would be overriden if ZOOMDATA_REPOSITORY environment varible
  base_url: 'http://repo.zoomdata.com'
  # URL to the GnuPG public key for the repo/pkgs verification.
  # Put `none` or empty string to skip GnuPG check (for internal repos)
  gpgkey: 'https://repo.zoomdata.com/ZOOMDATA-GPG-KEY.pub'
  # Repository branch from which the packages would be installed
  # This would be overriden if ZOOMDATA_RELEASE environment varible
  release: '2.4'

  # Repository components to enable and install packages from
  components:
    - stable
    #- licensed
    #- unstable

  # Exact version of Zoomdata Server packages to install, use 'latest' keyword
  # to always upgrade to the latest minor version in the release
  # This would be overriden if ZOOMDATA_VERSION environment varible
  {%- if grains['os'] == 'Ubuntu' %}
  # Ubuntu-specific version template: EDIT NUMBERS BEFORE dash ('-') sign
  #version: "2.4.4-1MR4+{{ grains['oscodename'] }}.stable"
  {%- else %}
  # Packages version for RHEL systems
  #version: '2.4.4'
  {%- endif %}

  # Zoomdata Server packages to install
  packages:
    - zoomdata
    # The Consul package is mandatory since Zoomdata 2.4 release, comment out for 2.3
    - zoomdata-consul
    - zoomdata-scheduler
    - zoomdata-spark-proxy

  # Zoomdata EDC section
  edc:
    # Exact version of Zoomdata Server packages to install, use 'latest' keyword
    # to always upgrade to the latest minor version in the release.
    # This would be overriden if ZOOMDATA_EDC_VERSION environment varible
    {%- if grains['os'] == 'Ubuntu' %}
    # Ubuntu-specific version template: EDIT NUMBERS BEFORE dash ('-') sign
    #version: "2.4.4-1MR4+{{ grains['oscodename'] }}.stable"
    {%- else %}
    # Packages version for RHEL systems
    #version: '2.4.4'
    {%- endif %}
    # Zoomdata EDC packages to install
    packages:
      - zoomdata-edc-elasticsearch-1.7
      - zoomdata-edc-rts

  ## Configuration settings
  #
  # Global system limits for Zoomdata user (per-service limits for systemd OS):
  # http://docs.zoomdata.com/installation-prerequisites
  limits:
    nproc:
      soft: '4096'
      hard: '4096'
    nofile:
      soft: '1048576'
      hard: '1048576'

  # Configuration property files and their corresponding variables:
  # http://docs.zoomdata.com/zoomdata-configuration-property-files-and-their-corresponding-variables
  environment:
    # Zoomdata Server
    zoomdata:
      path: '/etc/zoomdata/zoomdata.env'
      variables:
        JAVA_OPTS: '-Xss256k -Xms2048m -Xmx8192m'
    # Zoomdata Scheduler
    zoomdata-scheduler:
      path: '/etc/zoomdata/scheduler.env'
      variables:
        SCHEDULER_JAVA_OPTS: '-Xms512m -Xmx1024m'
    # Zoomdata SparkIT
    zoomdata-spark-proxy:
      path: '/etc/zoomdata/spark-proxy.env'
      variables:
        SPARK_PROXY_JAVA_OPTS: '-Xss256k -Xms512m -Xmx2048m'

  config:
    # Zoomdata Server
    zoomdata:
      # Merge properties with hard-coded defaults. This is useful to skip
      # common configuration values. Set ``False`` to disable such behavior.
      merge: True
      # Old path (legacy configuration file) will be removed if specified.
      # This usually required when upgrading from 2.2 and older releases.
      # Make sure you have set all necessary configuration to the
      # ``properties`` dictionary.
      #old_path: '/etc/zoomdata/zoomdata.conf'
      path: '/etc/zoomdata/zoomdata.properties'
      properties:
        # Metadata DB connection details
        # (REMEMBER TO CHANGE VALUES BELOW IN `postgres` SECTION ACCORDINGLY!)
        spring.datasource.url: 'jdbc:postgresql://localhost:5432/zoomdata'
        spring.datasource.username: 'zoomdata'
        spring.datasource.password: 'PleaseChangeMe'
        # Screenshot Feature: we disable it by default. Look at these pages for
        # instructions how to set it up on your platform:
        # http://docs.zoomdata.com/screenshot-for-rpm
        # http://docs.zoomdata.com/setting-up-screenshot-for-ubuntu
        screenshot.daemon.enabled: False
        screenshot.daemon.schedule.rate: '168h'  # 1 week
        screenshots.dashboards.enabled: False
        screenshots.datasource-charts.enabled: False
        # Configure HTTPS for Zoomdata (see ``tls`` item below)
        # http://docs.zoomdata.com/adding-ssl-certificate-to-the-zoomdata-server
        #server.ssl.key-store: '/etc/zoomdata/zoomdata.jks'
        #server.ssl.key-store-password: 'your_keystore_password'
        # Optional redired to https scheme, this requires HAProxy (see below)
        #http.redirect.port: '443'
      # Update the properties with ones given above. Do not remove locally
      # modified properties. This is ``False`` by default (always replace).
      update: False
    # Zoomdata Scheduler
    zoomdata-scheduler:
      #merge: True
      path: '/etc/zoomdata/scheduler.properties'
      properties:
        # Metadata DB connection details
        # (REMEMBER TO CHANGE VALUES BELOW IN `postgres` SECTION ACCORDINGLY!)
        spring.datasource.url: 'jdbc:postgresql://localhost:5432/zoomdata-scheduler'
        spring.datasource.username: 'zoomdata'
        spring.datasource.password: 'PleaseChangeMe'
      #update: False
    # Zoomdata Spark Proxy. See the following article for additional info:
    # http://docs.zoomdata.com/changing-the-default-configuration-for-an-embedded-spark-server
    zoomdata-spark-proxy:
      #merge: True
      #path: '/etc/zoomdata/spark-proxy.properties'
      #properties:
        #hadoop.distro: 'cdh5'
      #update: False

  # Zoomdata TLS: paste certificates chain and private key for your domain here.
  # Pay attention to indent exactly with 4 spaces for all lines under
  # ``certificate`` and ``key`` items.
  #tls:
  #  name: 'www.example.com'
  #  certificate: |
  #      -----BEGIN CERTIFICATE-----
  #      MIIXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  #      -----END CERTIFICATE-----
  #  key: |
  #      -----BEGIN PRIVATE KEY-----
  #      MIIXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  #      -----END PRIVATE KEY-----

  # Services to enable and start
  services:
    # The Consul service is mandatory since Zoomdata 2.4 release, comment out for 2.3
    - zoomdata-consul  # always start it first
    - zoomdata-edc-elasticsearch-1.7
    - zoomdata-edc-rts
    - zoomdata-scheduler
    - zoomdata-spark-proxy
    - zoomdata


### PostgreSQL configuration
#
# Comment out the whole section to disable
# PostgreSQL installation and configuration
postgres:
  # Create Zoomdata user
  users:
    zoomdata:
      password: 'PleaseChangeMe'

  # Create Zoomtata service databases
  databases:
    zoomdata:
      owner: 'zoomdata'
    zoomdata-scheduler:
      owner: 'zoomdata'

  {%- if grains['init'] == 'unknown' %}

  # If Salt is unable to detect init system running in the scope of state run,
  # probably we are trying to bake a container/VM image with PostgreSQL.
  bake_image: True

  {%- endif %}

  {%- if salt['status.time']|default(none) is callable %}

  # Backup extension for configuration files, defaults to ``.bak``.
  # Set ``False`` to stop creation of backups when config files change.
  config_backup: ".backup@{{ salt['status.time']('%y-%m-%d_%H:%M:%S') }}"

  {%- endif %}

  # Append the lines under this item to your postgresql.conf file.
  # Pay attention to indent exactly with 4 spaces for all lines.
  #postgresconf: |
  #  listen_addresses = '*'  # listen on all interfaces

  # This section covers ACL management in the `pg_hba.conf` file.
  # acls list controls: which hosts are allowed to connect, how clients
  # are authenticated, which PostgreSQL user names they can use, which
  # databases they can access.
  #
  # If ``acls`` item value is empty ('', [], null), then the contents of
  # ``pg_hba.conf`` file will not be touched at all.
  #acls:
  #  # "local" is for Unix domain socket connections only
  #  - ['local', 'all', 'all', 'peer']
  #  # IPv4 local connections:
  #  - ['host', 'all', 'all', '127.0.0.1/32', 'md5']
  #  # IPv6 local connections:
  #  - ['host', 'all', 'all', '::1/128', 'md5']


### HAproxy configuration
#
# Uncomment to enable forwarding from privileged ports to Zoomdata's binded
# ports: 80 --> 8080, 443 --> 8443
#haproxy:
#  global:
#    chroot:
#      enable: True
#      path: /var/lib/haproxy
#
#    maxconn: 4000
#    user: haproxy
#    group: haproxy
#
#    daemon: True
#
#    stats:
#      enable: True
#      socketpath: /var/lib/haproxy/stats
#
#  defaults:
#    mode: http
#    log: global
#    retries: 3
#    options:
#      - httplog
#      - dontlognull
#      - http-server-close
#      - forwardfor
#
#  frontends:
#    zd-http:
#      bind: "*:80"
#      reqadds:
#        - "X-Forwarded-Proto:\\ http"
#      default_backend: zd-http-backend
#    zd-https:
#      bind: "*:443"
#      mode: tcp
#      default_backend: zd-https-backend
#
#  backends:
#    zd-http-backend:
#      servers:
#        zd-http:
#          host: 127.0.0.1
#          port: 8080
#          check: check
#    zd-https-backend:
#      mode: tcp
#      servers:
#        zd-https:
#          host: 127.0.0.1
#          port: 8443
#          check: check
