# -*- coding: utf-8 -*-
# vim: ft=yaml

# Zoomdata Pillar SLS example

zoomdata:
  # Repository branch from which the zoomdata package would be installed
  release: '2.3'

  # Exact version of the packages to install, default is 'latest'
  version: '2.3.7'

  # Packages to install
  packages:
    - zoomdata
    - zoomdata-edc-elasticsearch-1.7
    - zoomdata-edc-rts
    - zoomdata-scheduler
    - zoomdata-spark-proxy

  # Configuration files with properties
  config:
    zoomdata:
      path: /etc/zoomdata/zoomdata.properties
      properties:
        spring.datasource.url: 'jdbc:postgresql://localhost:5432/zoomdata'
        spring.datasource.username: zoomdata
        spring.datasource.password: 'Z00mda1a'
    zoomdata-scheduler:
      path: /etc/zoomdata/scheduler.properties
      properties:
        spring.datasource.url: 'jdbc:postgresql://localhost:5432/zoomdata-scheduler'
        spring.datasource.username: zoomdata
        spring.datasource.password: 'Z00mda1a'

  # Services to enable and start
  services:
    - zoomdata
    - zoomdata-edc-elasticsearch-1.7
    - zoomdata-edc-rts
    - zoomdata-scheduler
    - zoomdata-spark-proxy
