# -*- coding: utf-8 -*-
# vim: ft=yaml

# Zoomdata Pillar SLS example

zoomdata:
  # Repository branch from which the zoomdata package would be installed
  release: '2.3'

  # Exact version of Zoomdata Server packages to install, default is 'latest'
  version: '2.3.8'

  # Zoomdata Server packages to install
  packages:
    - zoomdata
    - zoomdata-scheduler
    - zoomdata-spark-proxy

  # Zoomdata EDC section
  edc:
    # Exact version of Zoomdata EDC packages to install, default is 'latest'
    version: '2.3.7'
    # Zoomdata EDC packages to install
    packages:
      - zoomdata-edc-elasticsearch-1.7
      - zoomdata-edc-rts

  # Configuration files with properties
  config:
    zoomdata:
      path: /etc/zoomdata/zoomdata.properties
      properties:
        spring.datasource.url: 'jdbc:postgresql://localhost:5432/zoomdata'
        spring.datasource.username: zoomdata
        spring.datasource.password: 'Z00mda1a'
    zoomdata-scheduler:
      path: /etc/zoomdata/scheduler.properties
      properties:
        spring.datasource.url: 'jdbc:postgresql://localhost:5432/zoomdata-scheduler'
        spring.datasource.username: zoomdata
        spring.datasource.password: 'Z00mda1a'

  # Services to enable and start
  services:
    - zoomdata
    - zoomdata-edc-elasticsearch-1.7
    - zoomdata-edc-rts
    - zoomdata-scheduler
    - zoomdata-spark-proxy

# PostgreSQL Pillar configuration

postgres:
  users:
    zoomdata:
      password: 'Z00mda1a'
  databases:
    zoomdata:
      owner: 'zoomdata'
    zoomdata-scheduler:
      owner: 'zoomdata'
