{% import_yaml 'zoomdata/defaults.yaml' as defaults %}
{% import_yaml 'zoomdata/osfamily_map.yaml' as osfamily_map %}

{# Merge Pillar items with defaults #}
{% set zoomdata = salt['grains.filter_by'](
    osfamily_map,
    grain='os_family',
    merge=salt['pillar.get']('zoomdata')|default({}, true),
    base='default',
) %}

{# Read envrionment variables #}
{% do zoomdata.update({
    'base_url': salt['environ.get']('ZOOMDATA_REPOSITORY', zoomdata.base_url),
    'release':  salt['environ.get']('ZOOMDATA_RELEASE', zoomdata.release),
    'version':  salt['environ.get']('ZOOMDATA_VERSION', zoomdata.get('version')),
    'edc':      zoomdata.edc|default({}, true),
}) %}
{% do zoomdata.edc.update(
    {'version': salt['environ.get']('ZOOMDATA_EDC_VERSION', zoomdata.edc.get('version'))},
) %}

{# Install our module to gather data #}
{% if salt['zoomdata.inspect']|default(none) is not callable %}
    {% do salt['saltutil.sync_modules']() %}
{% endif %}

{# Try to inspect local installation #}
{% do zoomdata.update({
    'local': salt['zoomdata.inspect'](versions=true)['zoomdata'],
}) %}
{% set packages = zoomdata.local['packages']|default([], true) +
                  zoomdata.local.edc['packages']|default([], true) %}

{# Make sure we have finished bootstrapping when some packages were
   already installed. #}
{% do zoomdata.update({
    'bootstrap': packages == [] or
                 salt['grains.get']('zoomdata:bootstrap', False),
}) %}

{% if not zoomdata['bootstrap'] and not zoomdata['enforce'] %}
    {# Bypass state enforcement: work only with locally installed and
       running services #}
    {% do zoomdata.edc.update({'packages': []}) %}
    {# If something is already installed, create global packages list:
       for both Zoomdata core services and EDC in the single place. #}
    {% do zoomdata.update({
        'packages': packages,
        'services': zoomdata.local['services'],
    }) %}
{% endif %}

{% for params in ('backup', 'restore') %}
    {% if zoomdata[params] is not mapping %}
        {# Reload defaults if nested dictionary with parameters is messy #}
        {% do zoomdata.update({params: defaults.zoomdata[params]}) %}
    {% endif %}
{% endfor %}

{# Process properties #}
{% for service, config in zoomdata.config|default({}, true)|dictsort() %}
    {% if config.properties|default({}, true) and not config['merge']|default(true) %}
        {# Drop default properties if we don't want to merge them #}
        {% set properties = salt['pillar.get']('zoomdata:config:' ~ service ~ ':properties', {}) %}
        {% do zoomdata.config[service].update({'properties': properties}) %}
    {% endif %}

    {% if config['update']|default(false) %}
        {% set local_config = zoomdata.local.config[service]|default({}, true) %}
        {% set local_properties = local_config.properties|default({}, true) %}
        {% set properties = zoomdata.config[service].properties|default({}, true) %}
        {% if config['discard']|default(true) %}
            {# Read local properties and update them with provided values #}
            {% do local_properties.update(properties) %}
            {% do zoomdata.config[service].update({'properties': local_properties}) %}
        {% else %}
            {# Filter out default or Pillar provided properties and only add new ones #}
            {% do properties.update(local_properties) %}
            {% do zoomdata.config[service].update({'properties': properties}) %}
        {% endif %}
    {% endif %}
{% endfor %}

{# Hard-code of some PostgreSQL authentication property names #}
{% set postgres = {
    'properties': (
        (
            'spring.datasource.url',
            'spring.datasource.username',
            'spring.datasource.password'
        ),
        (
            'upload.destination.params.jdbc_url',
            'upload.destination.params.user_name',
            'upload.destination.params.password'
        ),
    )
} %}

{# Detect if we are using real init or building some image #}
{% set init_available = grains['init'] != 'unknown' %}
